.comments-container {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 50vh;
  background-color: azure;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0.5vh 0.5vh 2vh #0d1f39;
}

.comments-container h1 {
  font-weight: bold;
}

.comments-container h4 {
  margin: 0 auto;
  text-align: center;
}

.comments-container ul {
  list-style: none;
  padding-left: 0;
}

.comments-container li {
  padding: 0 0.5em;
}

.form-new-comment input {
  border-radius: 0.5em;
}

.form-new-comment {
  padding: 0.5em;
}

.form-new-comment button {
  background-color: #25559a;
  border-radius: 0.5em;
  color: azure;
  font-family: 'Cinzel';
  cursor: pointer;
}


.form-new-comment .button-disabled {
  cursor: not-allowed;
  background-color: gray;
}

.form-new-comment p {
  display: flex;
  flex-wrap: wrap;
  max-width: inherit;
}
