#home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#home-page article {
  background-color: #25559a;
  color: azure;
  height: 30vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8vh;
  margin-bottom: 5vh;
  box-shadow: 1vh 1vh 2vh #0d1f39;
}

#home-page article:hover{
  background-color: #0d1f39;
}

#home-page h1 {
  margin: 0 auto;
}
