.product-summary {
  text-align: center;
  text-decoration: none;
  background-color: azure;
  color: black;
  height: 25vw;
  width: 45vh;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0.5vh 0.5vh 2vh #0d1f39;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.product-summary article {
  height: 100%;
}

.product-summary article section {
  max-width: 100%;
  overflow-y: hidden;
  height: 60%;
}

.product-summary article img {
  max-width: 90%;
  overflow-y: hidden;
  border-radius: 0.5em;
}

.product-summary p {
  text-align: start;
  padding-left: 1.5em;
  margin: 0 auto;
  max-height: 15%;
}

.product-summary h1 {
  font-size: 1.5em;
  max-height: 25%;
  padding: 1.5vh 0;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  background-color: azure;
  border-radius: 1em;
  box-shadow: 0.5vh 0.5vh 2vh #0d1f39;
}

.product-card figure {
  flex-grow: 1;
  margin: 0;
  padding: 0 1em;
  display: flex;
  justify-content: center;
}

.product-card img {
  border: 1px solid #0d1f39;
  border-radius: 0.5em;
  max-width: 100%;
  max-height: 60vh;
}

.product-card .product-info {
  flex-grow: 2;
  text-align: end;
}

.product-info h1 {
  font-size: 2.5em;
  margin: 1em auto;
}

.product-info h4 {
  padding: 0.2em 0;
}

.product-info form {
  margin: 0;
  padding: 0;
  align-items: flex-end;
  max-width: 100%;
}

.return-link {
  padding: 1em 0;
}

.return-link a {
  text-decoration: none;
  font-size: 1.2;
  height: max-content;
  display: flex;
  align-items: center;
}

.buy-product-button {
  display: flex;
  width: max-content;
  text-decoration: none;
  background-color: #25559a;
  border-radius: 10px;
  color: azure;
  font-family: 'Cinzel';
  padding: 0.5em;
  font-size: 2.7vh;
  margin: 0.2em;
  cursor: pointer;
}